<h1>Salut ! Confirme ton email s'il-te-plait</h1>

<p>
    Confirme ton email en cliquant sur le lien :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer l'adresse email</a>.
    (Ce lien va expirer dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cheers!
</p>
